* {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#2c3e50, #3498db);
}

.navbar {
    background-color: slateblue;
    box-shadow: 10px 10px 10px slateblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo {
    gap: 4px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h3 {
    display: flex;
    font-size: 20px;
}

.logo h4 {
    font-size: 13px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: orangered;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    gap: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #3498db;
}

.dropdown-content li {
    list-style-type: none;
}

.dropdown-content a {
    color: #3498db;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: orangered;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.container1 {
    background-image: url("backedit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box1,
.box2 {
    width: 60%;
    height: auto;
    text-transform: capitalize;
    color: #f9f9f9;
}

.box1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
}

.box3 {
    background-color: steelblue;
    padding-left: 30px;
    padding-right: 10px;
    width: 450px;
    height: 120px;
}

.box2 h1 {
    color: steelblue;
}

.box3 h1 {
    font-size: 20px;
}

.box3 h2 {
    font-size: 30px;
}

.box3 span {
    font-size: 18px;
}

.box3:hover {
    background-color: #f9f9f9;
    color: darkgrey;
}

.container2 {
    padding: 20px;
    height: auto;
}

.container2 h1 {
    font-size: 40px;
}

.container2 span {
    color: grey;
}

.container2 h3 {
    font-style: italic;
    line-height: 1.4;
}

.container2 button {
    padding: 15px;
    color: #f9f9f9;
    border-radius: 24px;
    background-color: darkblue;
}

.container3 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container3 .box {
    width: 270px;
    height: auto;
}

.container3 .box img {
    width: 100%;
    height: 150px;
}

.container3 h3,
.container3 p {
    text-align: center;
}

.container3 h4 {
    text-align: center;
}

.container3 p {
    font-size: 18px;
}

.container1 .box3 a {
    text-decoration: none;
}

.container3 .button {
    padding-left: 15px;
    font-size: 18px;
    text-decoration: none;
}

.container3 a {
    text-decoration: none;
    padding-left: 15px;
    font-size: 18px;
}

.container3 .outline {
    border: 2px solid blue;
    height: auto;
    padding: 10px;
    background-color: cornflowerblue;
    color: #f9f9f9;
}

.container4 {
    min-height: 350px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #f9f9f9;
}

.block1,
.block2,
.block3 {
    width: 100%;
    height: auto;
}

.block1 h1,
.block2 h1 {
    text-align: center;
}

.block1 li {
    list-style-type: none;
    padding-left: 10px;
    line-height: 1.4;
}

.block2 li {
    list-style-type: circle;
    padding-left: 35px;
    font-size: 18px;
    line-height: 2;
}

.block2 li a {
    text-decoration: none;
    color: #f9f9f9;
}

.block2 li a:hover {
    color: orangered;
}

.block3 {
    padding-left: 10px;
}

.block3 h2 {
    text-align: center;
}

.block3 input {
    position: relative;
    top: 10%;
    width: 260px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 24px;
}

.btnn {
    position: relative;
    top: 10%;
    right: 30px;
    width: 90px;
    height: 40px;
    background-color: darkblue;
    color: #f9f9f9;
    border: 1px solid grey;
    border-radius: 24px;
}

.footor {
    width: 100%;
    height: 100px;
    background-color: black;
    border: 3px solid black;
    color: #f9f9f9;
}

.footor h4 {
    text-align: center;
}

.footor h5 {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .container1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .box3 {
        width: 100%;
        height: auto;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }

    .container3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
    }

}